
#absolute {
	background-color: yellow;
	height: 60px;
	width: 400px;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	position: absolute;
	right:40%;
}

#parent {
	height: 500px;
	width: 500px;
	background-color: blue;
	position: relative;
	top:100px;
	margin: 2em;
}

#child1 {
	height: 250px;
	width: 250px;
	background-color: black;
	position: absolute;
	top:0;
	right: 0;
}

#child2 {
	height: 250px;
	width: 250px;
	background-color: black;
	position: absolute;
	bottom:0;
}